{% extends 'food/base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% block body%}
    <form method="POST">
        {% csrf_token %}
        <h2>Are you sure you want to delete the {{ item.item_name }}</h2>
        <button class="btn btn-primary" type="submit">Confirm</button>
        <a href="{% url 'food:index' %}" class="btn btn-warning">No, return to Home page</a>
    </form>
    {% endblock %}
</body>
</html>